#!/bin/bash
umask 0177

export DOMAIN={{ mail_domain }}
export DATA_DIR={{ psql_data_dir }}

cp /etc/letsencrypt/live/$DOMAIN/fullchain.pem $DATA_DIR/server.crt
cp /etc/letsencrypt/live/$DOMAIN/privkey.pem   $DATA_DIR/server.key

chown postgres:postgres $DATA_DIR/server.crt $DATA_DIR/server.key
